<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="4wheel_robot">
  <xacro:arg name="use_gazebo" default="false" />

  <!-- Import RRBot macro -->
  <xacro:include filename="orionVI_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="orionVI.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find orion_control)/ros2_control/orionVI.ros2_control.xacro" />

  <xacro:orionVI_ros2_control
    name="OrionVI" use_gazebo="$(arg use_gazebo)"/>

  <xacro:if value="$(arg use_gazebo)">
    <!-- Import Gazebo Classic definitions + plugin -->
    <xacro:include filename="$(find orion_control)/gazebo/orionVI.gazebo.xacro" />
  </xacro:if>
</robot>
